@font-face {
    font-family: QuickJerk;
    src: url(./REFS/FONTS/quick_end_jerk.ttf);
}

@font-face {
    font-family: Inda;
    src: url(./REFS/FONTS/IdayaraRegular-nRaVP.ttf);
}

@font-face {
    font-family: ChildBold;
    src: url(./REFS/FONTS/Childhood-Bold.otf);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.logo-site img {
    width: 60%;
    margin: -60px 0 -70px 60px;
}

body {
    background: url(./midias/background-6.png);
    color: #fff;
}

/* navbar */

.cabeçalho {
    max-width: 1366px;
}

.navbar h1 {
    font-family: QuickJerk;
    font-optical-sizing: auto;
}

.navbar h1 span {
    color: #f24171;
}

.navbar .cabeçalho {
    align-items: center;
    justify-content: space-between;
}

.navbar {
    background-image: url(./midias/background-6.png);
    border: #f24171 solid;
    padding: 1rem;
    position: sticky;
    border-radius: 20px;
    top: 0;
    box-shadow: 10x 0x 10px #2c2c2c;
    z-index: 99;
}

.navbar > div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-family: 'Concert One';
    font-optical-sizing: auto;
    font-size: 24px;
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
}

.nav-icon-container {
    display: flex;
    align-items: center;
}

.nav-icon-container img {
    width: 30px;
    cursor: pointer;
}

.nav-icon-container img:first-child{
    margin-right: 1rem;
}

.nav-icon-container p:hover {
    transform: translateY(-2px);
    transition: all 0.2s;
    font-weight: bold;
}

nav ul li {
    color: #1c2f40;
    justify-content: space-between;
    margin-right: 1.5rem;
    cursor: pointer;
}

nav ul li:hover {
    transform: translateY(-2px);
    transition: all 0.2s;
    font-weight: bold;
}

/* Header */

.menu-button {
    display: none;
}

header {
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
}

header img {
    max-width: 100%;
}

header .header-image-left {
    margin: -250px -150px -200px -100px;
    max-width: 1200px;
}

header .header-image-right{
    max-width: 700px;
}

header {
    font-family: "Gloock", serif;
    font-optical-sizing: auto;
}

header .header-bottom-side-left {
    position: relative;
}

.header-bottom-side {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.header-bottom-side-left {
    height: 100%;
    flex-basis: 50%;
}

.header-bottom-side-left h2 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
    font-weight: normal;
}

.header-bottom-side-left p {
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
}

.agenda-link h2 {
    font-size: 48px;
    margin: auto auto 10px auto;
}

.agenda-link {
    text-align: center;
}

.agenda-link a {
    color: inherit;
    text-decoration: none;
}

.agenda-link button {
    background-color: #f24171;
    border: none;
    cursor: pointer;
    padding: 0.8rem 3.8rem;
    border-radius: 9999px;
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
    margin: 0 auto;
}

.agenda-link button:hover {
    background-color: #630744;
    transition: 0.2s;
}

.header-inner-content p {
    font-size: 24px;
}

/* Media Queries */
@media (max-width: 800px) {
    .logo{
        font-size: 1.2rem;
    }

    .menu-button {
        display: block;
    }

    .menu-button:hover {
        transform: translateY(-3px);
    }

    .header-bottom-side {
        flex-direction: column;
        text-align: center;
        padding-top: 4rem;
    }

    nav{
        position: absolute;
        background-color: #1c2f40;
        width: 100%;
        top: 46px;
        display: none;
    }

    .show-menu nav {
        display: block;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        text-align: center;
        padding: 0.8rem;
    }
}

/* Header */

/* Conteúdo Principal */

main {
    font-family: "Gloock", serif;
    font-optical-sizing: auto;
}

main p {
    align-items: center;
    margin: 0 40px 12px 40px;
    font-size: 26px;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis; 
    display: webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

main h2 {
    font-weight: normal;
}

.shop {
    text-align: center;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    padding: 1rem; 
}

.shop button {
    background-color: #f24171;
    border: none;
    cursor: pointer;
    padding: 0.8rem 3.8rem;
    border-radius: 9999px;
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
    transition: all 0.2s;
    margin: 15px 15px 15px 15px;
}

.shop button:hover {
    background-color: #630744;
    transitiom: all 0.2s;
}

.img-shop img {
    max: width 400px;
    max-height: 350px;
    width: auto;
    height: auto;
    justify-content: space-between;
    margin: 10px 5px 10px 5px;
}

#link-shop {
    color: inherit;
    text-decoration: none;
}

.img-shop img:hover {
    transform: scale(108%);
    transition: all 0.4s;
}

.page-inner-content {
    max-width: 1366px;
    margin: 0 auto;
}

.section-title {
    text-align: center;
    margin-top: 4rem;
    font-size: 36px;
}

.subtitle-underline {
    width: 100px;
    height: 5px;
    background-color: #f24171;
    border-radius: 9999px;
    margin: 8px auto 10px auto;
}

#link-topo {
    text-decoration: none;
    color: #fff;
    background-color: #f24171;
    padding: 10px;
    position: fixed;
    right: 6px;
    bottom: 10px;
    box-shadow: 3px 3px 10px #2c2c2c;
}

#link-topo:hover {
    transform: translateY(4px);
}

.form-contato {
    width: 100%;
    max-width: 32rem;
    font-size: 1.125rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto 50px;
}

.form label,
.form input,
.form textarea,
.form button 
{
    display: block;
    width: 100%;
}


.form label {
    line-height: 1;
    margin-bottom: 0.5rem;
}

.form input,
.form textarea {
    padding: 0.8rem;
    margin-bottom: 0.8rem;
    border: 1px solid transparent;
    border-radius: 8px;
    transition: border-color 0.2s;
}

.form textarea {
    min-height: 10rem;
    resize: vertical;
}

.form input:hover,
.form input:focus,
.form textarea:hover,
.form textarea:focus {
    outline: none;
    border-color:#aa3055;
}

.form button {
    display: block;
    padding: 1rem;
    background-color: #f24171;
    color: #fff;
    border-radius: 9999px;
    border: none;
}

.form button:hover {
    background-color: #630744;
    transition: all 0.2s; 
}

.links-rodape > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.links-rodape img {
    max-width: 30px;
    margin: 0 12px;
}

#link-instagram {
    color: inherit;
    text-decoration: none;
    margin-right: 10px;
    font-family: "Gloock", serif;
    font-optical-sizing: auto;
}

.links-rodape p:hover {
    transform: translateY(-3px);
    transition: 0.2s;
}

.links-rodape img:hover {
    transform: translateY(-4px);
    transition: 0.2s;
}

.bio h2 {
    font-size: 46px;
    margin: 20px auto;
}

.bio p {
    font-size: 24px;
    margin-bottom: 20px;
}

.bio header button {
    background-color: #f24171;
    border: none;
    cursor: pointer;
    padding: 0.8rem 3.8rem;
    border-radius: 9999px;
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
    transition: all 0.2s;
    margin: 0 auto 20px auto;
}

.bio header a {
    color: inherit;
    text-decoration: none;
    margin: 0 auto;
}

.bio header button:hover {
    background-color: #630744;
    transition: all 0.2s; 
}